MYSQL_ROOT_PASSWORD=MelodyHubRoot!2026
MYSQL_DATABASE=music_app
MYSQL_USER=melodyhub
MYSQL_PASSWORD=melodyhub_password
MYSQL_PORT=3306
BACKEND_PORT=8080
CORS_ALLOWED_ORIGIN=*
JWT_SECRET=change-this-secret-for-local-dev
JWT_EXPIRES_MINUTES=1440
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
