MYSQL_ROOT_PASSWORD=MelodyHubRoot!2026
MYSQL_DATABASE=music_app
MYSQL_USER=melodyhub
MYSQL_PASSWORD=melodyhub_password
MYSQL_PORT=3306
DB_URL=jdbc:mysql://mysql:3306/music_app?useUnicode=true&characterEncoding=utf8&connectionTimeZone=UTC&useSSL=false&allowPublicKeyRetrieval=true
BACKEND_PORT=8080
CORS_ALLOWED_ORIGIN=http://localhost:5173
JWT_SECRET=change-this-secret-for-local-dev
JWT_EXPIRES_MINUTES=15
REFRESH_TOKEN_EXPIRES_DAYS=7
PAYMENT_PLANS=MONTHLY:29000:30,QUARTERLY:79000:90
PAYMENT_CURRENCY=VND
PAYMENT_QR_VIETQR_BANK=970422
PAYMENT_QR_VIETQR_ACCOUNT=0123456789
PAYMENT_QR_VIETQR_ACCOUNT_NAME=NGUYEN VAN A
PAYMENT_QR_STATIC_IMAGE_URL=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
